.square{
    border-radius: 0px;
    padding-top: 15px;
    padding-bottom: 15px;

}
.jumbotron {
    background-image: linear-gradient(to right, #6b6b6b, #000);;
    color: white;

}
.div{
    padding-top: 10px;
    padding-bottom: 10px;
}